.open-sans {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}


/* banner styling */

.banner {

    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    background-color: rgb(198, 225, 207);
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 60px;
    border-radius: 18px;
    align-content: center
}

.banner-photo {
    width: 500px;
}


.banner-greetings {
    font-weight: 600;
    font-size: small;
    color: rgba(14, 14, 14, 0.5);
    row-gap: 0;

}

.btn-primary {
    font-size: small;
    padding: 10px 5px;
    border: none;
    color: white;
    background-color: rgba(0, 106, 80, 1);
    border-radius: 5px;
}

/*styling vision*/

.vision {

    display: flex;
    gap: 20px;
    background-color: white;
    margin-left: 160px;
    margin-right: 160px;
}


.digital-container {
    padding: 60px 60px;
    background-color: #81B4FC;
    border-radius: 10px
}

.green-container {
    padding: 60px 60px;
    background-color: #bcedd7;
    border-radius: 10px
}

.modern-container {

    padding: 60px 60px;
    background-color: #FFD55D;
    border-radius: 10px
}

.title {

    background-color: white;
    margin-left: 160px;
    margin-right: 160px;
    border-radius: 10px;


}

.second {
    display: flex;

}

.third {
    display: flex;
}

/* Donate styling */

.donate-title {
    text-align: center;
}

.card {

    padding: 5px 15px;
    background-color: rgb(216, 213, 213);
    text-align: center;
    border-radius: 5px;

}

.card-flex {

    display: flex;
    gap: 30px;
    justify-content: center;
}

.green {

    background-color: rgb(73, 162, 73);
}

.holder {
    width: 450px;
    margin-left: 458px;
    margin-right: 2px;
}